<div id="dashboard-content">
  <div class="row pt-4 pb-4">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Shopping cart</h5>
          <p class="card-text">
            Text
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Appartments</h5>
          <p class="card-text">
            Text
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sales stats</h5>
          <p class="card-text">
           Text
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row pb-4" >
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tasks</h5>
          <%= render 'dashboard/tasks'%>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Products</h5>
          <%= render 'dashboard/products'%>
        </div>
      </div>
    </div>
  </div>
  <div class="row pb-4">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Todo</h5>
          <%= render 'dashboard/todo'%>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Statistics</h5>
          <%= render 'dashboard/statistics'%>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Latest Media/h5>
          <%= render 'dashboard/media'%>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Notifications</h5>
          <%= render 'dashboard/notifications'%>
        </div>
      </div>
    </div>
  </div>
</div>
