<div>
  <div class="ecomm-logo row">
    <div class="col-md-10">
      <a class="navbar-brand" href="/">
        <img
          src="https://w7.pngwing.com/pngs/384/470/png-transparent-retail-computer-icons-e-commerce-sales-mega-offer-miscellaneous-service-logo.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        Shoppy
      </a>
    </div>
    <% if user_signed_in? %>
    <div class="col-md-1">
      <%= link_to image_tag("logout1.png", width: 20,float:"right"),
      '/users/sign_out' , :method=> :delete%>
    </div>
    <% end %>
  </div>
  <hr />

  <% if user_signed_in? %>
  <div class="row">
    <div class="col-md-3 user-img">
      <img
        src="<%= current_user.profile_picture_url %>"
        width="40"
        height="40"
        class="d-inline-block align-top"
        alt=""
      />
    </div>
    <div class="col-md-7">
      <p class="user-name">
        <% if user_signed_in? %> <%= current_user.first_name %> <%=
        current_user.last_name %> <% end %>
      </p>
    </div>
    <div class="col-md-1" style="padding: 0px">
      <%= link_to image_tag("settings.png", width: 20,float:"right"),
      edit_user_registration_path%>
    </div>
  </div>

  <hr />

  <div class="sidebar-nav">
    <a class="active" href="<%=products_path%>">Products</a>
    <a href="<%=orders_path%>">Orders</a>
  </div>
  <% else %>
  <div>
    <a class="user-login" href="<%=new_user_registration_path%>">Sign Up</a>
  </div>
  <div><a class="user-login" href="<%=new_user_session_path%>">Login</a></div>
  <% end %>
</div>
