<% @orders.each do |order| %>

    <tr>

      <td><%= order.user.first_name %></td>

      <td><%= order.total_price%></td>
      
      <td><%= order.orderstatus.order_status%></td>  

      <td><%= link_to 'Show', order_path(order.id) %></td> 
    
      <td><%= link_to 'Edit', edit_order_path(order.id) %></td>
      
      <td><%= button_to "Delete", order_path(order.id), method: :delete, class:"btn btn-danger" ,form: { data: { turbo_confirm: "Are you sure you want to delete?" } }%></td>

    </tr>

  <% end %>