<div class="container">

  <div class="row justify-content-center">

    <h4 class="mt-4 display-4">Listing orders</h4>

  </div>

  <% if @orders.present? %>

    <div class="row justify-content-center">

      <table class="table table-bordered">

        <thead>

          <tr>

            <th scope="col">Customer Id</th>

            <th scope="col">Total Price</th>

            <th scope="col" colspan="3">Order Status</th>

          </tr>

        </thead>

        <tbody>

          <% @orders.each do |order| %>

            <tr>

              <td><%= order.customer_id %></td>

              <td><%= order.total_price%></td>

              <td><%= order.orderstatus.order_status%></td>  

              <td><%= link_to 'Show', order_path(order.id), data: { confirm: 'Are you sure?' } %></td> 
             
              <td><%= button_to "Delete", order_path(order.id), method: :delete, class:"btn btn-danger" ,form: { data: { turbo_confirm: "Are you sure you want to delete?" } }%></td>
        
            </tr>

          <% end %>

        </tbody>

      </table>

    </div>

  <% else %>

    <div class="p-3 mb-2 bg-light text-dark">

      <span class="text-info font-weight-bold">Welcome! </span>

      Create your first order

    </div>

  <% end %>

</div>