<div class="container">

  <div class="row justify-content-center">

    <h4 class="mt-4 mb-4 display-4">New Order</h4>

  </div>

  <div class="row justify-content-center">
    <div class="row">
    <div class="col-3">
    <%= form_with scope: :order, url: orders_path, local: true do |form| %>

      <div class="form-group">

        <%= form.label :user_id %>

        <%= form.text_area :user_id, value: current_user.id ,class: 'form-control' %>

      </div>

      <div class="form-group">

      <%= form.label :total_price %>

      <%= form.text_area :total_price, class: 'form-control' %>

    </div>
 <br/>
    <div class="form-group">

      <%= form.label :orderstatus %>

      <%= form.select :orderstatus_id, Orderstatus.all.collect {|u| [u.order_status, u.id]}, {}, class: "select" %>

    </div>
    <br/>

     

      <div class="form-group">

        <%= form.submit class: 'form-control btn-primary' %>

      </div>
      <div>   
            <%= link_to 'Back', { controller: 'orders', action: 'index'} %>   
        </div> 

    <% end %>
</div>
  </div>
   </div>

</div>