<div class="container">

  <div class="row justify-content-center">

    <h4 class="mt-4 mb-4 display-4"> Details for Order # <%= @orders.id %>
    </h4>

  </div>

  <div class="row justify-content-center">

    <table class="table">

      <thead>

        <tr>

          <th scope="col">Order Id</th>

          <th scope="col">Product</th>

          <th scope="col">Actual price</th>

          <th scope="col">Discount Price</th>

          <th scope="col">Final Price</th>

          <th scope="col">Quantity</th>

        </tr>

      </thead>

      <tbody>
        <% @orderitem.each do |orderitem| %>
          <tr>

            <td>
              <%= orderitem.order_id %>
            </td>

            <td>
              <%= orderitem.product.name %>
            </td>

            <td>
              <%= orderitem.actual_price %>
            </td>

            <td>
              <%= orderitem.discount_price %>
            </td>

            <td>
              <%= orderitem.final_price %>
            </td>

            <td>
              <%= orderitem.quantity %>
            </td>
            <td>
              <%= link_to 'Edit' , edit_order_item_path(orderitem.id), class:"btn btn-outline-danger" %>
            </td>

            <td>
              <%= button_to "Delete" , order_item_path(orderitem.id), method: :delete, class:"btn btn-danger" ,form: {
                data: { turbo_confirm: "Are you sure you want to delete?" } }%>
            </td>

          </tr>
          <% end %>
      </tbody>

    </table>
    <div>
      <%= link_to 'Create new orderitem' , new_order_item_path, class:"btn btn-outline-danger" %>
    </div>
    <br />
    <div>
      <%= link_to 'Back to Main Page' , orders_index_path, class:"btn btn-outline-danger" %>
    </div>
  </div>

</div>