<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 mb-4 display-4">New Product Category</h4>
  </div>
  <div class="container">
    <%= form_with scope: :productcategory, url: product_categories_path, local: true do |form| %>
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>


    <div class="form-group">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
    <% end %>

    <div>
      <br>
      <%= link_to 'Back', { controller: 'product_categories', action: 'index'}, class:"btn btn-primary btn-sm" %>
    </div>
  </div>
</div>