<% @order_items.each do |orderitem| %>
  <tr>
    <td>
      <%= order_items %>
    </td>
    <td>
      <%= link_to 'Show' , order_items_path(orderitem), class:"btn btn-outline-primary btn-sm" %>
        <%= link_to 'Edit' , edit_order_items_path(orderitem), class:"btn btn-outline-warning btn-sm" %>
          <%= button_to 'Delete' , order_items_path(orderitem), method: :delete, class:"btn btn-outline-danger btn-sm"
            %>
    </td>
    <td>
      <%= link_to 'Show' , order_items_path(orderitem), class:"btn btn-outline-primary btn-sm" %>
    </td>
    <td>
      <%= link_to 'Edit' , order_items_path(orderitem), class:"btn btn-outline-warning btn-sm" %>
    </td>
    <td>
      <%= button_to 'Delete' , order_items_path(orderitem), method: :delete, class:"btn btn-outline-danger btn-sm" %>
    </td>
  </tr>
  <% end %>