<div id="product-delivery" class="hover-scroll-overlay-y pe-6 me-n6">
    <% @order_items .each do |order_item| %>

        <div class="row product-item">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <img src="<%= order_item.product.image_url %>"  alt="" height="40" width="40" />
                            <!-- <img src="https://mdbootstrap.com/img/Photos/Others/placeholder7.webp" alt="" height="40" width="40" /> -->
                            <span style="color: rgb(63, 66, 122); font-weight: 500"><%= order_item.product.name %></span>
                        </div>
                        <div class="row order-details">
                            <div class="col-md-9">
                                <span style="color: rgb(181, 181, 195); font-weight: 500">To:</span>
                                <span style="color: rgb(63, 66, 122); font-weight: 500"><%= order_item.order.user.first_name %> <%= order_item.order.user.last_name %> </span>
                            </div>
                            <div class="order-status-card col-md-3 delivered-status"><%= order_item.order.orderstatus.order_status %> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>

</div>