<div id="stockreport">
    <p class="text-secondary"><strong>Total <%=@totalproducts %> products in stock</strong></p>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="text-secondary">Item</th>
                <th scope="col" class="text-secondary">Product ID</th>
                <th scope="col" class="text-secondary">Date Added</th>
                <th scope="col" class="text-secondary">Price</th>
                <th scope="col" class="text-secondary">Status</th>
            </tr>
            </thead>
            <tbody>
                <% @p.each do |p| %>
                    <tr>
                    <td>
                        <strong><%= link_to p.name, product_path(p) %></strong>
                    </td>

                    <td>
                        <%= p.id %>
                    </td>

                    <td>
                        <%=  Date.parse(p.created_at.to_s).strftime("%e %b, %Y") %>
                    </td>

                    <td>
                        $<%= p.price.to_s().gsub(".", "").to_i()/10 %>
                    </td>

                    <td>
                        <% if p.stock_status.status.eql?("Out of stock") %>
                            <span class="badge bg-danger" style="height:23px"><%= p.stock_status.status %></span>
                        <% end %>
                        <% if p.stock_status.status.eql?("Low stock") %>
                            <span class="badge bg-warning" style="height:23px"><%= p.stock_status.status %></span>
                        <% end %>
                        <% if p.stock_status.status.eql?("In stock") %>
                            <span class="badge bg-success" style="height:23px"><%= p.stock_status.status %></span>
                        <% end %>
                    </td>

                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>