<div id="ecommerce-content">
    <div class="row pt-4 pb-4">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Expected Earnings</h5>
                            <%= render 'ecommerce/expected_earnings' %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            
                            <%= render 'ecommerce/average_sales' %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <%= render 'ecommerce/order_per_month' %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">New Customers this month</h5>
                            <%= render 'ecommerce/new_customer' %>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sales this month</h5>
                    <%= render 'ecommerce/sales_chart' %>

                </div>
            </div>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recent Orders</h5>
                    <%= render 'ecommerce/recent_orders' %>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Discounted Products sale</h5>
                    <%= render 'ecommerce/products_sales_chart' %>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <%= render 'ecommerce/app_info' %>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Product orders</h5>
                    <%= render 'ecommerce/product_orders' %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Product Delivery</h5>
                        <%= render 'ecommerce/product_delivery' %>
                </div>
            </div>
        </div>
        <div class="col-sm-8 stock-report-section">
            <div class="card">
                <div class="card-header bg-white pt-3">
                    <h3 class="card-title align-items-start flex-column">
                            <span class="card-labeltext-gray-500">Stock Report</span>
                            <span class="text-gray-400 mt-1 fw-bold fs-6">Total <%=@totalproducts %> products in stock</span>
                    </h3>
                    <div class="card-toolbar">
                        <div class="text-gray-400 me-2">Category</div>
                            <select id="categoryy-select">
                                <option selected>Show All</option>
                                <% @product_categories.each do |category|%>
                                <option value=<%= category.id%>> <%= category.name%></option>
                                <%end%>
                            </select>
                            <div class="text-gray-400 me-2">Status</div>

                            <select id="stockstatus-select">
                                <option selected>Show All</option>
                                <% @stock_status.each do |status|%>
                                <option value=<%= status.id%>> <%= status.status%></option>
                                <%end%>
                            </select>
                            <div class="position-relative my-1">
                                <%= link_to 'View Stock' , products_path, class:"btn btn-light stock-btn" %>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="list_products">
                        <%= render 'ecommerce/product_list' %>
                    </div>
                </div>
            </div>
        </div>
    </div>