<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Product Discounts</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Percentage</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @discounts.each do |discount| %>
      <tr>
        <td><%= discount.percentage %></td>
        <td>
          <%= link_to 'Show', discount_path(discount), class:"btn btn-outline-primary btn-sm" %>
          <%= link_to 'Edit', edit_discount_path(discount), class:"btn btn-outline-warning btn-sm" %>
          <%= button_to 'Delete', discount_path(discount), method: :delete, class:"btn btn-outline-danger btn-sm" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Product Discount', new_discount_path %><br><br>
  <%= link_to 'Back', products_path, class:"btn btn-primary btn-sm" %>
</div>