<% @products.each do |product| %>
<tr>
  <td><%= link_to product.name, product_path(product) %></td>
  <td><%= product.price %></td>
  <td><%= truncate(product.description, :length => 75) %></td>

  <td><%= product.stock_status.status if product.stock_status.present? %></td>
  <td><%= product.discount.percentage if product.discount.present? %>%</td>
  
    <div class="col">
      <td><%= link_to image_tag("eye-solid.svg", width: 20,float:"right"), product_path(product) %>
      <% if can? :manage, @product %> | 
      <%= link_to image_tag("pen-solid.svg", width: 20,float:"right"), edit_product_path(product) %> | 
      <%= link_to image_tag("trash-solid.svg", width: 20,float:"right"), product_path(product.id), data: { "turbo-method": :delete } %>
      </td>
    </div>
  <% end %>
</tr>
<% end %>