<div class="container">
  <h1>Products</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        
        <th>Stock Status</th>
        <th>Discount(in %)</th>
        <th>Actions</th>
        <th colspan="7"></th>
      </tr>
    </thead>
    <tbody>
      <%= render 'products/actions' %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Product', new_product_path %><br>
  <%= link_to 'Product Discounts', discounts_path %><br>
  <%= link_to 'Product Categories', product_categories_path %><br>
  <%= link_to 'Stock Statuses', stock_statuses_path %>
</div>