<div class="container">
  <h1>Products</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        
        <th>Stock Status</th>
        <th>Discount(in %)</th>
        <th>Actions</th>
        <th colspan="7"></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product.name, product_path(product) %></td>
          <td><%= product.price %></td>
          <td><%= truncate(product.description, :length => 75) %></td>
          
          <td><%= product.stock_status.status if product.stock_status.present? %></td>
          <td><%= product.discount.percentage if product.discount.present? %>%</td>
          <td>
            <div class="col">           
              <%= link_to 'Edit', edit_product_path(product), class:"btn btn-outline-warning btn-sm" %>
              <%= button_to 'Delete', product_path(product.id), method: :delete, class:"btn btn-outline-danger btn-sm", form: { data: { turbo_confirm: "Are you sure you want to delete?" } } %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Product', new_product_path %><br>
  <%= link_to 'Product Discounts', discounts_path %><br>
  <%= link_to 'Product Categories', product_categories_path %><br>
  <%= link_to 'Stock Statuses', stock_statuses_path %>
</div>