<div class="container">
  <h3>Product Details</h3>

  <div>
    <img src="<%= @product.image_url %>", width="400" , height="400"> </img>
  </div>

  <div>
    <label>Product Name: </label>
    <%= @product.name %>
  </div>

  <div>
    <label>Price: </label>
    <%= @product.price %>
  </div>

  <div>
    <label>Description: </label>
    <%= @product.description %>
  </div>

  <div>
    <label>Discount: </label>
    <%= @product.discount.percentage if @product.discount.present? %>%
  </div>

  <div>
    <label>Product Category: </label>
    <%= @product.product_category.name if @product.product_category.present? %>
  </div>

  <div>
    <label>Stock Status: </label>
    <%= @product.stock_status.status if @product.stock_status.present? %>
  </div>

  <br>
  <div>
    <br>
    <%= link_to 'Back', { controller: 'products', action: 'index'}, class:"btn btn-primary btn-sm" %>
  </div>
</div>
