<!DOCTYPE html>   
<html>  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head> 
  <body>
    <div class="container">        
      <h3>Product Details</h3>   
          
      <div>   
        <label>Product Name: </label>   
        <%= @product.name %>    
      </div>   
      
      <div>   
        <label>Price: </label>   
        <%= @product.price %>   
      </div>   
                
      <div>   
        <label>Description: </label>   
        <%= @product.description %>   
      </div>   

      <div>   
        <label>Image URL: </label>   
        <%= @product.image_url %>   
      </div>  

      <div>   
        <label>Discount: </label>   
        <%= @product.discount.percentage if @product.discount.present? %>   
      </div>  

      <div>   
        <label>Product Category: </label>   
        <%= @product.product_category.name if @product.product_category.present? %>   
      </div> 
                
      <div>   
        <label>Stock Status: </label>   
        <%= @product.stock_status.status if @product.stock_status.present? %>   
      </div>  

      <br>   
      <div>   
        <%= link_to 'Back', { controller: 'products', action: 'index'} %>   
      </div>   
    </div>  
  </body>
</html>
